.site-title a {
    color: inherit;
    text-decoration: none;
}

.site-title {
    font-family: var(--highlight-font-family);
    margin: 0 1em;
    font-size: 38px;
    font-weight: 700;
    font-stretch: condensed;
    line-height: 1.2;
}

.site-branding {
    text-align: center;
    padding: 60px 0 1.75em;
}